[Desktop Entry]
Type=Application
Name=Awesome Tanks 2
Exec=ruffle /opt/awesome-tanks-2.swf
Terminal=false
Hidden=false
Categories=Game
Comment=Fun fast arcade, top-down, with coins collection and upgrades (RPG elements)
